body {
  font-family: "Microsoft YaHei", sans-serif;
}
table th, table td {
  border: 1px solid #e5e7eb;
  padding: 6px;
}
#fullPlanBox table th,
#fullPlanBox table td{
  border:1px solid #999;
  padding:10px;
}
